# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
/node_modules/*
**/node_modules

# Next.js build output
.next/
out/

# Production
build

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local .env file
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test results
coverage
*.lcov

# Cache files
.cache
.eslintcache

# Gatsby files
.cache/
public

# Next.js specific
next-env.d.ts
